.button1{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button2:hover{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button3{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*.button1 {background-color: #4CAF50;} */
/*.button2 {background-color: #008CBA;} */
/*.button3 {background-color: #f44336;}  */
/*.button4 {background-color: #e7e7e7; color: black;} */
/*.button5 {background-color: #555555;} */






